<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37699514273-o9i4qqck5m0dc51qbburpf7uut9eo22c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37699514273-o9i4qqck5m0dc51qbburpf7uut9eo22c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37699514273-pg1jg0rqklbmpm2ie1cqa3faujfb5vli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQMK_xMuq35qD_MP4EmKaqFV98BBqz0oc</string>
	<key>GCM_SENDER_ID</key>
	<string>37699514273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erkanozturk1903.multiStoreApp</string>
	<key>PROJECT_ID</key>
	<string>multi-store-ea764</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-store-ea764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37699514273:ios:be11c4fcdc2417039aa5e0</string>
</dict>
</plist>